<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
       <h1>Wikis</h1>
      <a href="/wikis/new" class="btn btn-success">Create Wiki</a>
      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }) %>
      </ul>
     </main>
  </body>
</html>
